# API Base URL
VITE_API_BASE_URL='https://astramind.io.vn/api/v1'

# WebSocket Base URL (dùng https:// cho production, http://localhost:8080 cho development)
VITE_WS_BASE_URL='https://astramind.io.vn'
